<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Layout</title>

    <!-- font business -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="page-wrapper">
      <h1 class="page-title">Page-Title</h1>

      <section class="about">
        <h2>about</h2>
      </section>

      <section class="gallery">
        <article class="card">
          <h2 class="card-title">Card Title</h2>
          <img class="card-img" src="https://placedog.net/400x400?r">
          <p class="card-text">
          Consectetur etiam leo mollis nostra sociis tristique ut vitae viverra. Ac adipiscing ante cras dapibus eget fusce gravida litora porta praesent scelerisque tempus tortor venenatis.
          </p>
          <a class="cta" href="#">Adopt me!</a>
        </article>

        <article class="card">
          <h2 class="card-title">Card Title</h2>
          <img class="card-img" src="https://placedog.net/400x400?random">
          <p class="card-text">
          Cursus dapibus faucibus metus penatibus phasellus rhoncus. A class consequat cubilia cum curae; cursus dignissim eleifend habitant iaculis lacinia laoreet libero litora mi molestie nascetur nibh nulla parturient porta sem semper.
          </p>
          <a class="cta" href="#">Adopt me!</a>
        </article>
      </section><!-- end of card -->

      <section class="sidebar">

      </section>

      <section class="secret">
        
      </section>

      <footer class="page-footer">
        <p> Low Res Responsive! 2025 &copy <a href="https://adamdriggers.com">adam driggers</a></p>
      </footer>
    </div><!-- end of page wrapper -->

    <!-- no js needed -->
    <!-- <script src="index.js"></script> -->
  </body>
</html>

